<!DOCTYPE html>
  <html>

    <head>
      <% include partials/head %>
      <script type="text/javascript" language="javascript" src="simulator/simulator.nocache.js"></script>
    </head>

    <main>
      <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
      <!-- RECOMMENDED if your web app will not function without JavaScript enabled -->
      <noscript>
        <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
          Your web browser must have JavaScript enabled
          in order for this application to display correctly.
        </div>
      </noscript>
      <section class="hero is-primary is-medium">
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item" href="/">
                  Vortek Instruments
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                <span></span>
                <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item" href="/modbus">
                    Modbus
                  </a>
                  <a class="navbar-item is-active" href="/control_panel">
                    Control Panel
                  </a>
                  <a class="navbar-item" href="/directory">
                    Directory
                  </a>
                  <a class="navbar-item " href="/help">
                    Help
                  </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </section>
      <section class="">
          <br> <br>
        <h1 class="title has-text-centered headerText"> VorTek ProV Simulator Demo </h1> <br>
          <div class="has-text-centered">
            <div id="simholder"></div>
            <div id="lcdholder"></div>
          </div>
      </section>
    </main>
    <footer class="footerColor">
      <br>
      <% include partials/footer %>
      <br>
    </footer>
  </html>


<!-- <html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>ProV Simulator</title>
    <script type="text/javascript" language="javascript" src="simulator/simulator.nocache.js"></script>
  </head> -->

  <!-- <body>
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
     RECOMMENDED if your web app will not function without JavaScript enabled
    <noscript>
      <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
      </div>
    </noscript> -->
<!--
    <h1>VorTek ProV Simulator Demo</h1>
    <div id="simholder"></div>
    <div id="lcdholder"></div>
    <br/>
  </body>
</html> -->
