<div class="content has-text-centered">
  <div class="vortekLogo">
    <img src="/images/vortek.png"/>
  </div>
  <p>
    <strong>Made</strong> by <a href="https://www.linkedin.com/in/luke-pierce-840b315b/">Luke Pierce</a>. Developed in
    <a href="https://nodejs.org/en/">NodeJS</a>.
  </p>
</div>
