<!DOCTYPE html>
  <html>

    <head>
      <% include partials/head %>
    </head>

    <main>
      <section class="hero is-primary is-medium">
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item" href="/">
                  Vortek Instruments
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                <span></span>
                <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item" href="/modbus">
                    Modbus
                  </a>
                  <a class="navbar-item is-active" href="/control_panel">
                    Control Panel
                  </a>
                  <a class="navbar-item" href="/directory">
                    Directory
                  </a>
                  <a class="navbar-item " href="/help">
                    Help
                  </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </section>
      <section class="container">
          <br> <br>
        <h1 class="title has-text-centered headerText"> Control Panel </h1>
          <br> <br> <br>
      </section>
      <br> <br> <br>
    </main>
    <footer class="footerColor">
      <br>
      <% include partials/footer %>
      <br>
    </footer>
  </html>
