<nav>
  <div class="nav-wrapper green darken-4">
    <a href="/" class="brand-logo" id="logoHeader">Modbus RTU</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <div>
        <li><a href="/">Home</a></li>
        <li><a href="/modbus">Modbus</a></li>
        <li><a href="/directory">Directory</a></li>
        <li><a href="/help">Help</a></li>
      </div>
    </ul>
  </div>
</nav>
